---
layout: home
title: Re[mark]able.net
---

<!-- Featured post -->
<div class="featured">
    <article class="featured-item row">
        <section class="col-lg-7">
            <figure class="featured-cover" aria-hidden="true">
                <a href="{{ site.posts.first.url }}" class="featured-cover-link" tabindex="-1">
                    <img class="featured-cover-img" alt="{{ site.posts.first.title }}" src="{{ site.posts.first.cover }}">
                </a>
                <figcaption class="visually-hidden">{{ site.posts.first.title }}</figcaption>
            </figure>
        </section>
        <section class="featured-content col-lg-5 my-auto">
            <h2 class="featured-title">
                <a class="featured-link" href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a>
            </h2>
            <div class="featured-meta d-none d-md-flex">
                <div class="featured-author">
                    <img class="featured-author-img"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' width='250' height='250'%3E%3Crect width='250' height='250' fill='%23622aff'%3E%3C/rect%3E%3Ctext x='50%' y='53%' dominant-baseline='middle' text-anchor='middle' font-family='Arial, sans-serif' font-size='128px' fill='%23ffffff'%3EA%3C/text%3E%3C/svg%3E"
                        width="16" height="16" alt="{{ site.posts.first.author }}">
                    <span class="featured-author-name">{{ site.posts.first.author }}</span>
                </div>
                <div class="featured-date">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor"
                        class="bi bi-calendar-event featured-date-icon" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z">
                        </path>
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z">
                        </path>
                    </svg>
                    <time class="featured-date-time">{{ site.posts.first.date | date: "%a, %b %d, %Y" }}</time>
                </div>
            </div>
            <p class="featured-desc">
                {{ site.posts.first.short_text }}
            </p>
            <div>
                {% for tag in site.posts.first.tags %}
                <span class="badge badge-pill badge-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            <a class="featured-more" href="{{ site.posts.first.url }}">
                Read More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                    </path>
                </svg>
            </a>
        </section>
    </article>
</div>

<!-- Blog posts -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for post in site.posts %}
    {% if site.posts.first.title != post.title %}
    <div class="col p-3">
        <article class="post-grid d-flex flex-column">
            <figure class="post-grid-cover">
                <img class="post-grid-img" src="{{ post.cover }}" alt="{{ post.title }}">
            </figure>
            <div class="post-grid-cats">
            </div>
            <h2 class="post-grid-title">
                <a class="post-grid-link" href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <p class="post-grid-desc">{{ post.short_text }}</p>
            <div class="post-grid-desc">
                {% for tag in post.tags %}
                <span class="badge badge-pill badge-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            <div class="post-grid-meta d-flex">
                <div class="post-grid-author">
                    <img class="post-grid-author-img"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' width='250' height='250'%3E%3Crect width='250' height='250' fill='%23622aff'%3E%3C/rect%3E%3Ctext x='50%' y='53%' dominant-baseline='middle' text-anchor='middle' font-family='Arial, sans-serif' font-size='128px' fill='%23ffffff'%3EM%3C/text%3E%3C/svg%3E"
                        width="16" height="16" alt="Mark">
                    <span class="post-grid-author-name">{{ post.author }}</span>
                </div>
                <div class="post-grid-date">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor"
                        class="bi bi-calendar-event post-grid-date-icon" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z">
                        </path>
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z">
                        </path>
                    </svg>
                    <time class="post-grid-date-time">{{ post.date | date: "%a, %b %d, %Y" }}</time>
                </div>
                <a class="post-grid-more ms-auto" href="{{ post.url }}"" tabindex=" -1">
                    <span>Read</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                        </path>
                    </svg>
                </a>
            </div>

        </article>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- Old blog posts below here-->